@import url('https://fonts.googleapis.com/css?family=Prata');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

* {
  outline: none !important;
}

@mixin box-shadow() {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.box-shadow {
  @include box-shadow;
}

.wow { visibility: hidden }

.page {
  min-height: calc(100vh - 237px);
}

.header {
  background: rgba(0,0,0,.6);
  letter-spacing: 1px;
}

.line {
  position: relative;
  background: url('http://cwrussia.ru/delegate/imagethumb-servlet/?img_id=8202221&t=1508507574698&s=1600x900');
  background-size: cover;
  padding: 130px 0 80px 0;
  font: 36px 'Prata';
  color: #fff;
  text-align: center;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 56, 101, 0.05)), color-stop(90%, rgba(0, 57, 101, 0.8)));
    background: -webkit-linear-gradient(top, rgba(0, 56, 101, 0.05) 0%, rgba(0, 57, 101, 0.8) 90%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 56, 101, 0.05)), to(rgba(0, 57, 101, 0.8)));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 56, 101, 0.05)), color-stop(90%, rgba(0, 57, 101, 0.8)));
    background: linear-gradient(to bottom, rgba(0, 56, 101, 0.05) 0%, rgba(0, 57, 101, 0.8) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 );
  }
  span {
    position: relative;
  }
}

.promo {
  position: relative;
  background: url('https://images.unsplash.com/photo-1456930266018-fda42f7404a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=10cda706a91c48d6c2be99374db49d73&auto=format&fit=crop&w=2450&q=80') center;
  background-size: cover;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 56, 101, 0.05)), color-stop(90%, rgba(0, 57, 101, 0.8)));
    background: -webkit-linear-gradient(top, rgba(0, 56, 101, 0.05) 0%, rgba(0, 57, 101, 0.8) 90%);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 56, 101, 0.05)), to(rgba(0, 57, 101, 0.8)));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 56, 101, 0.05)), color-stop(90%, rgba(0, 57, 101, 0.8)));
    background: linear-gradient(to bottom, rgba(0, 56, 101, 0.05) 0%, rgba(0, 57, 101, 0.8) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089fff1', endColorstr='#000000',GradientType=0 );
  }
  span {
    position: relative;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 100px 20px 20px;
  }
  &__heading {
    font: 42px 'Prata';
    padding: 0 40px;
  }
}

.island {
  color: #2a2d2a;
  text-decoration: none;
  transition: all .15s ease;
  border: 2px solid transparent;
  background: #fff;
  &:hover,
  &:focus {
    color: #2a2d2a;
    text-decoration: none;
    background: #e4f2fd;
    cursor: pointer;
  }
  &__active {
    border-color: #007aff;
    background: #007aff !important;
    color: #fff !important;
  }
}

// .reverse_card {
//   color: #fff;
//   perspective: 1000;
//   cursor: pointer;
//   user-select: none;
//   &__flipped &__content {
// 		transform: rotateY(180deg);
//   }
//   &__content {
//     transition: 0.6s;
//     transform-style: preserve-3d;
//     position: relative;
//     width: 100%;
//     min-height: 250px;
//   }
//   &__frontside,
//   &__backside {
//   	backface-visibility: hidden;
//   	position: absolute;
//   	top: 0;
//   	left: 0;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-align: center;
//     flex-direction: column;
//   }
//   &__frontside {
//     background: #007bff;
//     padding: 10px;
//   }
//   &__backside {
//     transform: rotateY(180deg);
//     background: #d9e9f3;
//     color: #000;
//     padding: 10px;
//     letter-spacing: .5px;
//   }
//   &__icon {
//     font-size: 30px;
//   }
// }

.reverse_card {
  color: #fff;
  cursor: pointer;
  user-select: none;
  &__flipped &__frontside {
    opacity: 0;
    visibility: none;
  }
  &__flipped &__backside {
    opacity: 1;
    visibility: visible;
  }
  &__content {
    position: relative;
    min-height: 250px;
  }
  &__frontside,
  &__backside {
  	position: absolute;
  	top: 0;
  	left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    transition: all .5s ease;
  }
  &__frontside {
    background: #007bff;
    padding: 10px;
  }
  &__backside {
    background: #d9e9f3;
    color: #000;
    padding: 10px;
    letter-spacing: .5px;
    opacity: 0;
    visibility: none;
  }
  &__icon {
    font-size: 30px;
  }
}

.loader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background: rgba(0,0,0,.9);
}

.client-type {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    position: relative;
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    color: #2a2d2a;
    text-decoration: none;
    transition: all .15s ease;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &:hover,
    &:focus {
      color: #2a2d2a;
      text-decoration: none;
      box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, .1);
      cursor: pointer;
    }
  }
  &__divider {
    width: 1px;
    height: 400px;
    background: #d9e0e8;
  }
}

.why-us {
  background: #d9e9f3;
  padding: 30px 0;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.fast-form__button {
  padding: 8px 16px;
  border-radius: 20px;
}

.scheme {
  display: flex;
  justify-content: space-between;
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px 10px;
    font-size: 18px;
    border-top: 3px solid #80baff;
    padding: 5px 0 0 10px;
    font-size: 16px;
    &:before {
      position: absolute;
      content: '1';
      font-size: 22px;
      background: #fff;
      color: #007bff;
      top: -23px;
      left: 0;
      padding-right: 10px;
    }
    &:nth-child(1):before { content: '1' }
    &:nth-child(2):before { content: '2' }
    &:nth-child(3):before { content: '3' }
    &:nth-child(4):before { content: '4' }
    &:nth-child(5):before { content: '5' }
    &:last-child:after {
      content: '';
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 4px solid #80baff;
      background: #fff;
      position: absolute;
      top: -10px;
      right: -2px;
    }
  }
}

.property-types {
  &__item {
    background: #fff;
    @include box-shadow;
    height: 100%;
  }
  &__slide {
    &-image {
      width: 100%;
      height: 320px;
      object-fit: cover;
    }
  }
  &__partners {
    &-wrap {
      position: relative;
      height: 300px;
    }
    &-image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 80%;
    }
  }
}

.footer {
  background: #1b212b;
  color: #fff;
  a {
    color: rgba(255,255,255,.65);
  }
  &_icons {
    &__item {
      display: flex;
      font-size: 16px;
      margin-bottom: 8px;
      align-items: center;
      &-icon {
        width: 28px;
        font-size: 24px;
        margin-right: 5px;
      }
    }
  }
}

.navbar-nav {
  // .nav-link {
  //   color: $navbar-light-color;
  //
  //   @include hover-focus {
  //     color: $navbar-light-hover-color;
  //   }
  //
  //   &.disabled {
  //     color: $navbar-light-disabled-color;
  //   }
  // }

  .nav-link {
    color: rgba(255,255,255,.7) !important;
  }

  .show > .nav-link,
  .active > .nav-link,
  .nav-link.show,
  .nav-link.active {
    color: #fff !important;
  }
}

#nav_collapse {
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.renter-form__submit {
  text-align: right;
}

.row__strict {
  margin: 0;
  [class^="col"] {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 720px) {
  .client-type {
    flex-direction: column;
    &:after {
      display: none;
    }
  }
  .promo {
    padding: 20px 0;
    &__heading {
      font-size: 28px;
    }
  }
  .client-type {
    &__divider {
      display: none;
    }
  }
}

@media screen and (max-width: 960px) {
  .scheme {
    display: block;
    &__item {
      display: block;
      margin: 0;
      width: 100%;
      text-align: left;
      padding: 20px;
    }
    &__icon {
      display: block;
      margin-left: 0;
      font-size: 16px;
      margin: 10px 0;
      &__wide {
        display: none;
      }
    }
  }
  .renter-form__submit {
    text-align: center;
  }
  .reverse_card {
    &__backside {
      font-size: 13px;
    }
  }
}

//

.form-control {
  outline: none;
  box-shadow: none !important;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
