<template>
  <div :class="[this.active ? activeClass : defaultClass]">
    <div><img :src="this.icon" style="height: 60px;margin-bottom: 10px;"></div>
    <div class="mb-2">
      <span>{{this.title}}</span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    icon: String,
    title: String,
    active: Boolean
  },
  data () {
    return {
      defaultClass: 'island d-flex flex-column justify-content-center h-100 p-3 text-center',
      activeClass: 'island island__active d-flex flex-column justify-content-center h-100 p-3 text-center'
    }
  }
}
</script>
