<template>
  <div class="client-type">
    <div class="mb-3 mx-3" style="flex: 1">
      <router-link to="/renter" :class="blockClass">
        <div class="position-relative">
          <div><img src="https://image.flaticon.com/icons/svg/742/742484.svg" style="width: 100px;margin-bottom: 10px;"></div>
          <div class="h3 mb-3">Я Арендатор</div>
          <div class="mb-2">
            Здесь Вы можете оставить заявку и мы найдем подходящее помещение
          </div>
          <div class="">
            <router-link to="/" style="text-transform: uppercase;font-size: 13px;" class="text-primary">Подать заявку <i class="fal fa-long-arrow-right"></i></router-link>
          </div>
        </div>
      </router-link>
    </div>
    <div class="client-type__divider"></div>
    <div class="mb-3 mx-3" style="flex: 1">
      <router-link to="/landlord" :class="blockClass">
        <div class="position-relative">
          <div><img src="https://image.flaticon.com/icons/svg/742/742462.svg" style="width: 100px;margin-bottom: 10px;"></div>
          <div class="h3 mb-3">Я Собственник</div>
          <div class="mb-2">
            Здесь Вы можете оставить заявку и мы найдем для Вас арендатора
          </div>
          <div class="">
            <router-link to="/" style="text-transform: uppercase;font-size: 13px;" class="text-primary">Подать заявку <i class="fal fa-long-arrow-right"></i></router-link>
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      blockClass: 'client-type__item d-flex flex-column justify-content-center bg-white h-100 rounded p-4 text-center',
      textClass: 'text-white'
    }
  }
}
</script>
