<template>
  <div class="footer_wrapper">
    <div class="footer_contact p-5 bg-white box-shadow text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <b-form @submit="onSubmit">
              <div class="h4 mb-3">Экспресс заявка <span class="text-muted" id="expressHint"><i class="fa fa-question-circle"></i></span></div>
              <b-tooltip target="expressHint" placement="right">
                Если у вас появились вопросы, оставьте телефон и мы с вами свяжемся в ближайшее время
              </b-tooltip>
              <div class="form-group">
                <b-input placeholder="Имя" v-model="form.fullname" style="text-align: center" required />
              </div>
              <div class="form-group">
                <b-input placeholder="Телефон" v-model="form.phone" v-mask="'+9(999)999-99-99'" style="text-align: center" required />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-sm fast-form__button" name="button">Отправить</button>
              </div>
            </b-form>
          </div>
        </div>
      </div>
    </div>
    <div class="footer p-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="mb-2"><router-link to="/about">О компании</router-link></div>
            <div class="mb-2"><router-link to="/service">Наши услуги</router-link></div>
            <div class="mb-2"><router-link to="/property-types">Секторы недвижимости</router-link></div>
            <div class="mb-2"><router-link to="/contacts">Контакты</router-link></div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="footer_icons">
              <div class="footer_icons__item">
                <span class="footer_icons__item-icon"><i class="fab fa-telegram"></i></span> Телеграм
              </div>
              <div class="footer_icons__item">
                <span class="footer_icons__item-icon"><i class="fab fa-facebook-square"></i></span> Фэйсбук
              </div>
              <div class="footer_icons__item">
                <span class="footer_icons__item-icon"><i class="fab fa-instagram"></i></span> Инстаграм
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-2">г.Астана. Тауелсиздик, 34</div>
            <div class="mb-2"><a href="tel:+77472122234">+7(747)212-22-34</a></div>
            <div class="mb-2"><a href="tel:+77028522055">+7(702)852-20-55</a></div>
            <div class="mb-2">atlers.company@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import AwesomeMask from 'awesome-mask'

const apiUrl = 'https://api.telegram.org/bot523908080:AAEciEdqMfgxdFcuHvfA4iZ2UAWc6MfZx6U/'

export default {
  props: {
    fastContact: Boolean
  },
  data () {
    return {
      form: {
        fullname: null,
        phone: null
      }
    }
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()

      let text = `=======================================`
      text += `Новая *быстрая* заявка \n`
      text += `Имя: ${this.form.fullname} \n`
      text += `Телефон: ${this.form.phone} \n`
      text += `=======================================`

      axios.post(`${apiUrl}sendMessage?chat_id=-1001349015248&parse_mode=Markdown&text=${text}`)
        .then(response => {
          axios.post(`${apiUrl}sendContact?chat_id=-1001349015248&phone_number=${this.form.phone}&first_name=${this.form.fullname}`)
            .then(response => {
              this.$toasted.success('Ваша заявка успешно отправлена. Мы свяжемся с вами в ближайшее время!', {
                duration: 3000
              })
              this.clearForm()
              this.$router.push('/')
            })
            .catch(error => {
              console.error(error)
              this.$toasted.error('Утеряно соединение с сервером', {
                duration: 3000
              })
            })
        })
        .catch(error => {
          console.error(error)
          this.clearForm()
          this.$toasted.error('Утеряно соединение с сервером', {
            duration: 3000
          })
        })
    },
    clearForm () {
      this.form = {
        fullname: null,
        phone: null
      }
    }
  },
  directives: {
    'mask': AwesomeMask
  }
}
</script>
