<template>
  <div class="container">
    <b-form @submit="onSubmit">
      <div class="mb-3"><strong>Выберите вид деятельности</strong></div>
      <div class="row row__strict mb-4 bg-white box-shadow">
        <div class="col-md-4 col-sm-4" v-for="(item, index) in categories" :key="index">
          <CategoryIsland :active="item.active" :icon="item.icon" :title="item.title" @click.native="showForm(index)" />
        </div>
      </div>
      <div class="bg-white box-shadow p-3 mb-3" id="renterForm">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="fullnameInput">Имя и фамилия</label>
                <input type="text" class="form-control" v-model="form.fullname" id="fullnameInput" placeholder="Как к Вам обращаться" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="phoneInput">Мобильный телефон</label>
                <input type="text" class="form-control" v-model="form.phone" v-mask="'+9(999)999-99-99'" id="phoneInput" placeholder="Введите мобильный телефон" aria-label="Мобильный телефон" aria-describedby="square-addon" required>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="emailInput">Адрес электронной почты</label>
                <input type="text" class="form-control" v-model="form.email" id="emailInput" placeholder="Введите адрес электронной почты" aria-label="Цена" aria-describedby="price-addon">
              </div>
            </div>
          </div>
          <div class="renter-form__submit">
            <button type="submit" class="btn btn-success" name="button">Отправить</button>
          </div>
      </div>
    </b-form>
  </div>
</template>

<script>
import axios from 'axios'
import AwesomeMask from 'awesome-mask'
import CategoryIsland from '@/components/layout/CategoryIsland'

const apiUrl = 'https://api.telegram.org/bot523908080:AAEciEdqMfgxdFcuHvfA4iZ2UAWc6MfZx6U/'

export default {
  data () {
    return {
      form: {
        fullname: null,
        phone: null,
        email: null,
        category: null
      },
      title: 'Заявка',
      categories: [
        {title: 'Одежда и аксессуары', active: false, icon: 'https://image.flaticon.com/icons/svg/512/512570.svg'},
        {title: 'Косметология', active: false, icon: 'https://image.flaticon.com/icons/svg/512/512561.svg'},
        {title: 'Общественное питание', active: false, icon: 'https://image.flaticon.com/icons/svg/325/325543.svg'},
        {title: 'Техника', active: false, icon: 'https://image.flaticon.com/icons/svg/742/742205.svg'},
        {title: 'Здоровье и медицина', active: false, icon: 'https://image.flaticon.com/icons/svg/139/139297.svg'},
        {title: 'Детское развитие', active: false, icon: 'https://image.flaticon.com/icons/svg/719/719013.svg'},
        {title: 'Развлечение и отдых', active: false, icon: 'https://image.flaticon.com/icons/svg/579/579091.svg'},
        {title: 'Спорт', active: false, icon: 'https://image.flaticon.com/icons/svg/184/184033.svg'},
        {title: 'Другое', active: false, icon: 'https://image.flaticon.com/icons/svg/742/742481.svg'}
      ]
    }
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()

      if (this.form.category !== null) {
        let text = `=======================================`
        text += `Новая заявка *Арендатора* в категории *${this.form.category}* \n`
        text += `Имя: ${this.form.fullname} \n`
        text += `Телефон: ${this.form.phone} \n`
        text += `Почта: ${this.form.email} \n`
        text += `=======================================`

        axios.post(`${apiUrl}sendMessage?chat_id=-1001349015248&parse_mode=Markdown&text=${text}`)
          .then(() => {
            axios.post(`${apiUrl}sendContact?chat_id=-1001349015248&phone_number=${this.form.phone}&first_name=${this.form.fullname}`)
              .then(() => {
                this.$toasted.success('Ваша заявка успешно отправлена. Мы свяжемся с вами в ближайшее время!', {
                  duration: 3000
                })
                this.clearForm()
                this.$router.push('/')
              })
              .catch(error => {
                console.error(error)
                this.clearForm()
                this.$toasted.error('Утеряно соединение с сервером', {
                  duration: 3000
                })
              })
          })
          .catch(error => {
            console.error(error)
            this.$toasted.error('Утеряно соединение с сервером', {
              duration: 3000
            })
          })
      }
    },
    makeItemActive (itemIndex) {
      this.categories.map((item, index) => {
        item.active = false
        if (index === itemIndex) {
          item.active = true
          this.form.category = item.title
        }
      })
    },
    showForm (index) {
      this.makeItemActive(index)
      this.$scrollTo('#renterForm', 500, { offset: -70 })
      document.getElementById('fullnameInput').focus()
    },
    clearForm () {
      this.form = {
        fullname: null,
        phone: null,
        email: null,
        category: null
      }
    }
  },
  components: {
    CategoryIsland
  },
  directives: {
    'mask': AwesomeMask
  }
}
</script>
