<template>
  <div class="mt-4">
    <div class="row">
      <div class="col-md-6 mb-4" v-for="item in first" :key="item.id">
        <div :class="[item.flipped ? flippedClass : defaultClass]" @click="flip(item.id)">
          <div class="reverse_card__content">
            <div class="reverse_card__frontside" :style="{background: item.background}">
              <div v-if="item.icon" class="reverse_card__icon"><i :class="['fal', 'fa-' + item.icon]"></i></div>
              <div>{{item.title}}</div>
            </div>
            <div class="reverse_card__backside">
              <div v-if="item.icon" class="reverse_card__icon"><i :class="['fal', 'fa-' + item.icon]"></i></div>
              {{item.text}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4" v-for="item in second" :key="item.id">
        <div :class="[item.flipped ? flippedClass : defaultClass]" @click="flip(item.id)">
          <div class="reverse_card__content">
            <div class="reverse_card__frontside" :style="{background: item.background}">
              <div v-if="item.icon" class="reverse_card__icon"><i :class="['fal', 'fa-' + item.icon]"></i></div>
              <div>{{item.title}}</div>
            </div>
            <div class="reverse_card__backside">
              <div v-if="item.icon" class="reverse_card__icon"><i :class="['fal', 'fa-' + item.icon]"></i></div>
              {{item.text}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ReverseCard from '@/components/layout/ReverseCard'

export default {
  components: {
    ReverseCard
  },
  data () {
    return {
      defaultClass: 'reverse_card',
      flippedClass: 'reverse_card reverse_card__flipped',
      first: [
        {
          id: 1,
          title: 'Брокеридж',
          background: '#3cad83',
          icon: 'handshake',
          text: 'Проводим посреднические услуги в поиске арендаторов и покупателей коммерческой недвижимости (офисной, торговой, складской и т.д.). Также ведем переговоры с арендаторами и сопровождаем клиента до заключения сделки. Другими словами, мы находим для вас арендатора, обсуждаем с ним детали на провал собственника и заключаем сделку.  ',
          flipped: false
        },
        {
          id: 2,
          title: 'Разработка концепции',
          background: '#133390',
          icon: 'object-group',
          text: 'В процессе разработки концепта мы определяем оптимальный способ использования помещения,  его эффективную зону обслуживания и важные преимущества, помогаем сэкономить значительные средства на управлении помещением и получать максимальный доход. ',
          flipped: false
        }
      ],
      second: [
        {
          id: 3,
          title: 'Поиск подрядчика',
          background: '#ff792b',
          icon: 'search',
          text: 'Мы находим подходящие компании, занимающиеся ремонтом, учитывая ваши желания и желания арендодателя. Наша компания готова взять на себя проведение ремонта, подходящего для вашей деятельности.',
          flipped: false
        },
        {
          id: 4,
          title: 'Разработка дизайна',
          background: '#4ca2ff',
          icon: 'pencil',
          text: 'Наши эксперты, с учётом ваших желаний, создают дизайн оптимизированный и полностью соответствовующий параметрам арендуемой недвижимости.',
          flipped: false
        },
        {
          id: 5,
          title: 'Управление недвижимостью',
          background: '#593984',
          icon: 'building',
          text: 'Мы помогаем поддерживать и улучшать состояние вашего объекта недвижимости, а именно: разрабатываем концепцию недвижимости, проводим эксплуатационные процессы и техническое обслуживание объекта, привлекаем арендаторов и многое другое.',
          flipped: false
        }
      ]
    }
  },
  methods: {
    flip (id) {
      this.first.map(item => {
        item.flipped = false
        if (item.id === id) {
          item.flipped = !item.flipped
        }
      })
      this.second.map(item => {
        item.flipped = false
        if (item.id === id) {
          item.flipped = !item.flipped
        }
      })
    }
  }
}
</script>
