<template>
  <router-link :to="this.url" :class="blockClass">
    <div :class="iconClass"><i :class="this.icon"></i></div>
    <div class="mb-2">
      <strong v-if="this.bold">{{this.title}}</strong>
      <span v-else>{{this.title}}</span>
    </div>
    <div :class="textClass" v-if="this.description">
      {{this.description}}
    </div>
  </router-link>
</template>

<script>
export default {
  props: {
    url: String,
    description: String,
    icon: String,
    title: String,
    bold: Boolean,
    dark: Boolean
  },
  data () {
    return {
      blockClass: 'island d-flex flex-column justify-content-center bg-white h-100 box-shadow rounded p-3 text-center',
      textClass: 'text-muted',
      iconClass: 'h2 text-success'
    }
  }
}
</script>
