<template>
  <div class="container">
    <b-form @submit="onSubmit">
      <div class="bg-white box-shadow p-3 mb-3">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="fullnameInput">Имя и фамилия</label>
              <input type="text" class="form-control" v-model="form.fullname" id="fullnameInput" placeholder="Как к Вам обращаться">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="phoneInput">Мобильный телефон</label>
              <input type="text" class="form-control" v-model="form.phone" v-mask="'+9(999)999-99-99'" id="phoneInput" placeholder="Введите мобильный телефон" aria-label="Мобильный телефон" aria-describedby="square-addon">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="emailInput">Адрес электронной почты</label>
              <input type="text" class="form-control" v-model="form.email" id="emailInput" placeholder="Введите адрес электронной почты" aria-label="Цена" aria-describedby="price-addon">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="squareInput">Площадь помещения</label>
              <div class="input-group">
                <input type="text" class="form-control" v-model="form.square" id="squareInput" placeholder="Введите площадь сдаваемого помещения"> <span class="text-muted">м²</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="addressInput">Адрес сдаваемого помещения</label>
              <div class="input-group">
                <input type="text" class="form-control" v-model="form.address" id="addressInput" placeholder="Введите адрес сдаваемого помещения">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Где находится сдаваемое помещение</label>
              <b-form-select v-model="form.position" :options="positionOptions" />
            </div>
          </div>
        </div>
        <div class="renter-form__submit">
          <button type="submit" class="btn btn-success" name="button">Отправить</button>
        </div>
      </div>
    </b-form>
  </div>
</template>

<script>
import axios from 'axios'
import AwesomeMask from 'awesome-mask'

const apiUrl = 'https://api.telegram.org/bot523908080:AAEciEdqMfgxdFcuHvfA4iZ2UAWc6MfZx6U/'

export default {
  data () {
    return {
      form: {
        fullname: null,
        phone: null,
        email: null,
        square: null,
        address: null,
        position: null
      },
      positionOptions: [
        {value: null, text: 'Выберите вариант из списка'},
        {value: 'Торговый центр', text: 'Торговый центр'},
        {value: 'Торгово-развлекательный центр', text: 'Торгово-развлекательный центр'},
        {value: 'Бизнес центр', text: 'Бизнес центр'},
        {value: 'Коммерческое помещение', text: 'Коммерческое помещение'},
        {value: 'Не имеет значения', text: 'Не имеет значения'}
      ],
      title: 'Заявка собственника'
    }
  },
  methods: {
    onSubmit (e) {
      e.preventDefault()

      let text = `=======================================`
      text += `Новая заявка *Собстенника* \n`
      text += `Имя: ${this.form.fullname} \n`
      text += `Телефон: ${this.form.phone} \n`
      text += `Почта: ${this.form.email} \n`
      text += `Площадь помещения: ${this.form.square} \n`
      text += `Адрес помещения: ${this.form.address} \n`
      text += `Нахождение помещения: ${this.form.position} \n`
      text += `=======================================`

      axios.post(`${apiUrl}sendMessage?chat_id=-1001349015248&parse_mode=Markdown&text=${text}`)
        .then(response => {
          axios.post(`${apiUrl}sendContact?chat_id=-1001349015248&phone_number=${this.form.phone}&first_name=${this.form.fullname}`)
            .then(response => {
              this.$toasted.success('Ваша заявка успешно отправлена. Мы свяжемся с вами в ближайшее время!', {
                duration: 3000
              })
              this.clearForm()
              this.$router.push('/')
            })
            .catch(error => {
              console.error(error)
              this.clearForm()
              this.$toasted.error('Утеряно соединение с сервером', {
                duration: 3000
              })
            })
        })
        .catch(error => {
          console.error(error)
          this.$toasted.error('Утеряно соединение с сервером', {
            duration: 3000
          })
        })
    },
    clearForm () {
      this.form = {
        fullname: null,
        phone: null,
        email: null,
        square: null,
        address: null,
        position: null
      }
    }
  },
  directives: {
    'mask': AwesomeMask
  }
}
</script>
