<template>
  <div class="line" :style="{background: 'url(' + this.bg + ') center', backgroundSize: 'cover'}"><span>{{this.title}}</span></div>
</template>

<script>
export default {
  props: {
    bg: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  }
}
</script>
