<template>
  <b-navbar toggleable="md" type="dark" class="header fixed-top">

    <router-link to="/" class="navbar-brand">Atlers</router-link>
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-collapse is-nav id="nav_collapse">

      <!-- <b-navbar-nav>
        <b-nav-item to="#">Link</b-nav-item>
        <b-nav-item to="#" disabled>Disabled</b-nav-item>
      </b-navbar-nav> -->

      <!-- <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown v-for="(item, index) in nav" :key="index" :text="item.title" right>
          <b-dropdown-item  :to="item.url">{{item.title}}</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav> -->

      <b-navbar-nav>
        <b-nav-item v-for="(item, index) in nav" :key="index" :to="item.url" right>{{item.title}}</b-nav-item>
      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
</template>

<script type="text/javascript">
export default {
  data () {
    return {
      nav: [
        { title: 'О компании', url: '/about' },
        { title: 'Наши услуги', url: '/service' },
        { title: 'Секторы недвижимости', url: '/property-types' },
        { title: 'Контакты', url: '/contacts' }
      ]
    }
  }
}
</script>
