<template>
  <div class="promo">
    <div class="promo__content text-white">
      <div class="h4">
        Atlers
      </div>
      <span class="mb-4">Вы доверяете - мы помогаем</span>
      <div class="promo__heading text-center mb-5">Помогаем <strong>найти</strong> или <strong>сдать</strong> <br> коммерческую площадь <strong>в Астане</strong></div>
    </div>
  </div>
</template>

<script type="text/javascript">
import ClientType from '@/components/layout/ClientType'

export default {
  components: {
    ClientType
  }
}
</script>
