<template>
  <div :class="[this.flipped ? flippedClass : defaultClass]">
    <div class="reverse_card__content">
      <div class="reverse_card__frontside" :style="{background: this.background}">
        <div v-if="this.icon" class="reverse_card__icon"><i :class="['fal', 'fa-' + this.icon]"></i></div>
        <div>{{this.title}}</div>
        flipped: {{this.flipped}}
      </div>
      <div class="reverse_card__backside">
        <div v-if="this.icon" class="reverse_card__icon"><i :class="['fal', 'fa-' + this.icon]"></i></div>
        {{this.text}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    text: String,
    icon: String,
    background: String,
    flipped: Boolean
  },
  data () {
    return {
      defaultClass: 'reverse_card',
      flippedClass: 'reverse_card reverse_card__flipped'
    }
  }
}
</script>

<style lang="css">
</style>
