<template>
  <div class="scheme__wrapper bg-white box-shadow p-3 mb-3">
    <h3 class="mb-3">{{this.title}}</h3>
    <div class="scheme">
      <div class="scheme__item" v-for="item in this.scheme">
        {{item}}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    scheme: {
      type: Array,
      required: true
    },
    title: {
      type: String,
      required: true
    }
  }
}
</script>
