<template>
  <div class="why-us text-dark mb-3">
    <div class="container">
      <div class="h2 text-center mb-5 animated slideInUp">
        Почему вы должны выбрать Atlers?
      </div>
      <div class="row">
        <div class="col-md-6 mb-4 text-center animated slideInUp" v-for="(item, index) in text" :key="index">
          <div class="mb-3"><img :src="item.icon" style="width: 80px"></div>
          <div class="mb-3">{{item.title}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  data () {
    return {
      text: [
        {
          title: 'Персональный подход к каждому новому клиенту',
          icon: 'https://image.flaticon.com/icons/svg/265/265663.svg'
        },
        {
          title: 'Большая база комерческих площадей',
          icon: 'https://image.flaticon.com/icons/svg/148/148949.svg'
        },
        {
          title: 'Широкий спектр предоставляемых услуг',
          icon: 'https://image.flaticon.com/icons/svg/417/417801.svg'
        },
        {
          title: 'Высокая квалификация наших специалистов',
          icon: 'https://image.flaticon.com/icons/svg/757/757208.svg'
        }
      ]
    }
  }
}
</script>
