<template>
  <div class="layout">
    <div class="loader" v-if="loading">
      <circle8></circle8>
    </div>
    <div class="wrapper">
      <Navbar />
      <Line bg="https://images.unsplash.com/photo-1443527394413-4b820fd08dde?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38006908feb204e14fbec280cbbd2bbc&auto=format&fit=crop&w=1500&q=80" :title="title" />
      <div class="container my-5">
        <div class="bg-white box-shadow">
          <swiper :options="swiperOption">
            <swiper-slide v-for="(slide, index) in slides" :key="index">
              <img :src="slide" class="property-types__slide-image" alt="">
            </swiper-slide>
          </swiper>
          <div class="p-3">
            <p><strong>Atlers company</strong> - мы оказываем брокерские услуги, консультируем по вопросам аренды, продажи,  маркетинга и развития коммерческой недвижимости.  Консультируем как собственников, так и покупателей с арендаторами.</p>
            <p>Мы регулярно контактируем с владельцами крупных торговых центров, магазинов, расположенных в самых разных частях города, и быстро реагируем на все изменения, существующие на рынке недвижимости.</p>
            <p>Мы проводим переговоры от имени клиента для получения выгодных условий аренды. Также предоставляем консультации для арендодателей, связанные с развитием, разработкой концепции и продвижения вашего объекта.</p>
          </div>
          <WhyUs />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/layout/Navbar'
import Promo from '@/components/layout/Promo'
import WhyUs from '@/components/layout/WhyUs'
import Line from '@/components/layout/Line'
import { Circle8 } from 'vue-loading-spinner'

export default {
  data () {
    return {
      loading: true,
      title: 'О компании',
      swiperOption: {
        slidesPerView: 1,
        autoplay: true
      },
      slides: [
        '/static/images/atlers/4.jpeg',
        '/static/images/atlers/5.jpeg',
        '/static/images/atlers/6.jpeg',
        '/static/images/atlers/7.jpeg',
        '/static/images/atlers/8.jpeg',
        '/static/images/atlers/9.jpeg',
        '/static/images/atlers/10.jpeg',
        '/static/images/atlers/11.jpeg',
        '/static/images/atlers/12.jpeg'
      ]
    }
  },
  mounted () {
    setTimeout(() => {
      this.loading = false
    }, 500)
  },
  created () {
    document.title = this.title
  },
  components: {
    Navbar,
    Promo,
    WhyUs,
    Line,
    Circle8
  }
}
</script>
