<template>
  <div class="layout">
    <div class="loader" v-if='loading'>
      <circle8></circle8>
    </div>
    <div class="wrapper">
      <Navbar />
      <Line bg="https://images.unsplash.com/photo-1469935069869-b53acc57c8d2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a174ea2d796d409e19096446789faa2c&auto=format&fit=crop&w=1334&q=80" :title="title" />
      <div class="container my-5">
        <div class="bg-white box-shadow p-3">
          <yandex-map
            :coords="[51.1403, 71.4660]"
            zoom="13"
            style="max-width: 100%; height: 400px;">
              <ymap-marker
                marker-type="placemark"
                :coords="[51.1403, 71.4660]"
                :balloon="{header: 'Наш офис', body: 'г.Астана, Тауелсиздик 34, ТРК Astana Mall, CoWorking Center'}"
                :icon="{color: 'greenDotIconWithCaption', glyph: 'placemark', caption: 'Мы находимся здесь'}"
                :markerId="1"
              ></ymap-marker>
          </yandex-map>
          <div class="mt-3">
            <div class="mb-2"><span class="text-muted">Адрес:</span> г.Астана, Тауелсиздик 34</div>
            <div class="mb-2"><span class="text-muted">Телефон:</span> <a href="tel:+77472122234">+7(747)212-22-34</a></div>
            <div class="mb-2"><span class="text-muted">Телефон:</span> <a href="tel:+77028522055">+(702)852-20-55</a></div>
            <div class="mb-2"><span class="text-muted">E-mail:</span> atlers.company@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/layout/Navbar'
import Promo from '@/components/layout/Promo'
import Line from '@/components/layout/Line'
import { Circle8 } from 'vue-loading-spinner'
import { yandexMap, ymapMarker } from 'vue-yandex-maps'

export default {
  data () {
    return {
      loading: true,
      title: 'Контакты'
    }
  },
  mounted () {
    setTimeout(() => {
      this.loading = false
    }, 500)
  },
  created () {
    document.title = this.title
  },
  components: {
    Navbar,
    Promo,
    Line,
    Circle8,
    yandexMap,
    ymapMarker
  }
}
</script>
