<template>
  <div class="layout bg-white">
    <div class="loader" v-if="loading">
      <circle8></circle8>
    </div>
    <div class="wrapper">
      <Navbar />
      <Promo />
      <div class="mt-5">
        <div class="text-center">
          <div class="h1 mb-4">
            Что вы ищите?
          </div>
          <div class="text-muted mb-5" style="font-size: 18px">
            Мы хотим помочь Вам в этом!
          </div>
        </div>
        <ClientType />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/layout/Navbar'
import Promo from '@/components/layout/Promo'
import ClientType from '@/components/layout/ClientType'
import { Circle8 } from 'vue-loading-spinner'

export default {
  data () {
    return {
      loading: true
    }
  },
  mounted () {
    setTimeout(() => {
      this.loading = false
    }, 500)
  },
  created () {
    document.title = 'Atlers'
  },
  components: {
    Navbar,
    Promo,
    ClientType,
    Circle8
  }
}
</script>
