<template>
  <div class="layout">
    <div class="loader" v-if="loading">
      <circle8></circle8>
    </div>
    <div class="wrapper">
      <Navbar />
      <Line bg="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0ef06f88dab75b74252e22465ad9c99d&auto=format&fit=crop&w=1500&q=80" :title="title" />
      <div class="my-5">
        <LandlordForm />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/layout/Navbar'
import Promo from '@/components/layout/Promo'
import LandlordForm from '@/components/layout/LandlordForm'
import Line from '@/components/layout/Line'
import { Circle8 } from 'vue-loading-spinner'

export default {
  data () {
    return {
      loading: true,
      title: 'Заявка собственника'
    }
  },
  mounted () {
    setTimeout(() => {
      this.loading = false
    }, 500)
  },
  created () {
    document.title = this.title
  },
  components: {
    Navbar,
    Promo,
    LandlordForm,
    Line,
    Circle8
  }
}
</script>
