<template>
  <div class="layout">
    <div class="loader" v-if="loading">
      <circle8></circle8>
    </div>
    <div class="wrapper">
      <Navbar />
      <Line bg="https://images.unsplash.com/photo-1449024540548-94f5d5a59230?ixlib=rb-0.3.5&s=18cfef97679a5e68f70c4d1a7b2a01ab&auto=format&fit=crop&w=1789&q=80" :title="title" />
      <div class="container my-5">
        <div class="property-types__item row row__strict">
          <div class="col-md-6 order-md-2">
            <swiper :options="{slidesPerView: 1, autoplay: {delay: 3000}}">
              <swiper-slide v-for="(slide, index) in firstSlider" :key="index">
                <img :src="slide" class="property-types__slide-image" alt="">
              </swiper-slide>
            </swiper>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-center p-3 h-100" style="flex-direction: column">
              <img src="https://image.flaticon.com/icons/svg/742/742474.svg" style="width: 70px;margin-bottom: 10px;" alt="">
              <div class="h4 text-center">Торговая недвижимость</div>
              <div style="width: 70%;margin: 0 auto;text-align: center;font-size: 18px;line-height: 1.5em;">
                Мы можем предложить широкий выбор помещений в торговых центрах на территории города Астаны.
              </div>
            </div>
          </div>
        </div>
        <div class="property-types__item row row__strict">
          <div class="col-md-6">
            <swiper :options="{slidesPerView: 1, autoplay: {delay: 3400}}">
              <swiper-slide v-for="(slide, index) in secondSlider" :key="index">
                <img :src="slide" class="property-types__slide-image" alt="">
              </swiper-slide>
            </swiper>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-center p-3 h-100" style="flex-direction: column">
              <img src="https://image.flaticon.com/icons/svg/742/742476.svg" style="width: 70px;margin-bottom: 10px;" alt="">
              <div class="h4 text-center">Офисы</div>
              <div style="text-align: center;font-size: 18px;line-height: 1.5em;">
                Наши специалисты готовы дать квалифицированную консультацию по вопросам, связанным с приобретением или сдачей в аренду офисных помещений на территории города Астаны.
              </div>
            </div>
          </div>
        </div>
        <div class="property-types__item row row__strict">
          <div class="col-md-6 order-md-2">
            <swiper :options="{slidesPerView: 1, autoplay: {delay: 2800}}">
              <swiper-slide v-for="(slide, index) in thirdSlider" :key="index">
                <img :src="slide" class="property-types__slide-image" alt="">
              </swiper-slide>
            </swiper>
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center justify-content-center p-3 h-100" style="flex-direction: column">
              <img src="https://image.flaticon.com/icons/svg/742/742497.svg" style="width: 70px;margin-bottom: 10px;" alt="">
              <div class="h4 text-center">Земельные участки</div>
              <div style="width: 70%;margin: 0 auto;text-align: center;font-size: 18px;line-height: 1.5em;">
                Услуги для собственников и арендаторов складских и индустриальных площадей на территории города Астаны.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/layout/Navbar'
import Promo from '@/components/layout/Promo'
import Line from '@/components/layout/Line'
import { Circle8 } from 'vue-loading-spinner'

export default {
  data () {
    return {
      loading: true,
      title: 'Секторы недвижимости',
      firstSlider: [
        'http://nedostroika.ru/wp-content/uploads/2014/12/torgovaya-ploshhad.jpg',
        'https://img3.dp.ru/images/article/2017/08/03/0b0e634f-2cd9-4a27-8ce4-0b7cdd2ec705.jpg'
      ],
      secondSlider: [
        'http://www.arte-d.it/wp-content/uploads/2016/11/S_tait_AM-2.jpg',
        'http://dreamstop.com/wp-content/uploads/2013/07/office-dream-meaning.jpeg'
      ],
      thirdSlider: [
        'http://glazovportal.net/sites/default/files/bb757f9433206c6b2fd61cc5db56819e.jpg.crop_display.jpg',
        'http://www.fttc.com.ua/wp-content/uploads/2016/12/Zemelnye-uchastki.jpg'
      ]
    }
  },
  computed: {
    type () {
      if (this.$route.query.type) {
        return this.$route.query.type
      } else {
        return null
      }
    }
  },
  mounted () {
    setTimeout(() => {
      this.loading = false
    }, 500)

    if (this.type) {
      this.$root.$emit('bv::toggle::collapse', this.type + 'Tab')
    }
  },
  created () {
    document.title = this.title
  },
  components: {
    Navbar,
    Promo,
    Line,
    Circle8
  }
}
</script>
