<template>
  <div class="layout">
    <div class="loader" v-if="loading">
      <circle8></circle8>
    </div>
    <div class="wrapper">
      <Navbar />
      <Line bg="https://images.unsplash.com/photo-1489465033131-30f7e2025f68?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eb2a94f5db83ae292582827294e962a8&auto=format&fit=crop&w=1500&q=80" :title="title" />
      <div class="my-5">
        <Form />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/layout/Navbar'
import Promo from '@/components/layout/Promo'
import Form from '@/components/layout/Form'
import Line from '@/components/layout/Line'
import { Circle8 } from 'vue-loading-spinner'

export default {
  data () {
    return {
      loading: true,
      title: 'Заявка арендатора'
    }
  },
  mounted () {
    setTimeout(() => {
      this.loading = false
    }, 500)
  },
  created () {
    document.title = this.title
  },
  components: {
    Navbar,
    Promo,
    Form,
    Line,
    Circle8
  }
}
</script>
