<template>
  <div class="layout">
    <div class="loader" v-if="loading">
      <circle8></circle8>
    </div>
    <div class="wrapper">
      <Navbar />
      <Line bg="https://images.unsplash.com/photo-1511269124216-f038b4127b6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4ea9157c71214662f7b156c1db761f9&auto=format&fit=crop&w=1500&q=80" :title="title" />
      <div class="container my-5">
        <InfoBlocks />
        <Scheme :scheme="landlordScheme" title="Схема сотрудничества с Собственником" />
        <Scheme :scheme="renterScheme" title="Схема сотрудничества с Арендатором" />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/layout/Navbar'
import Promo from '@/components/layout/Promo'
import InfoBlocks from '@/components/layout/InfoBlocks'
import Line from '@/components/layout/Line'
import Scheme from '@/components/layout/Scheme'
import { Circle8 } from 'vue-loading-spinner'

export default {
  data () {
    return {
      loading: true,
      title: 'Наши услуги',
      landlordScheme: {
        'Получаем заявку',
        'Связываемся и обсуждаем нюансы',
        'Связываем Вас с аредодателем',
        'Оказываем помощь в \n управлении коммерческим помещением'
      },
      renterScheme: {
        'Получаем заявку',
        'Связываемся и обсуждаем нюансы',
        'Разрабатываем концепцию помещения',
        'Ищем подходящие варианты',
        'Связываем Вас с аредатором'
      }
    }
  },
  mounted () {
    setTimeout(() => {
      this.loading = false
    }, 500)
  },
  created () {
    document.title = this.title
  },
  components: {
    Navbar,
    Promo,
    InfoBlocks,
    Line,
    Scheme,
    Circle8
  }
}
</script>
