<template>
  <div id="app">
    <div class="page">
      <router-view/>
    </div>
    <Footer />
  </div>
</template>

<script>
import Footer from '@/components/layout/Footer'

export default {
  name: 'App',
  components: {
    Footer
  }
}
</script>

<style lang="scss">
  @import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
  @import '../static/fontawesome/css/fa-svg-with-js.css';
  @import 'assets/css/main.scss';
</style>
